@{
    ViewBag.Title = "About this task";
}
<h3>@ViewBag.Message</h3>


<strong>The realization of the test task.</strong>
<br />
<hr />
<p>
    К вам обратилися основатель стапртапа "Я ем спаржу" с просьбой реализовать его идею. Это будет первая<br />
    в мире социальная сеть, объединяющая любителей спаржи. Сайт состоит из двух страниц:<br />

    1) Форма отправки:<br />
    - Имя<br />
    - Email<br />
    - Кнопка "Я съел спаржу!"<br />

    По нажатию кнопки данные отправляются на сервер и сохраняются в базе данных, пользователь попадает на страницу ленты<br />

    2) Лента - это список отправивших форму с именами и датами отправки, и общим числом отправок форм для каждого юзера (считается по email) Пример записи:<br />

    "22.10 11.11.2014 Василий ел спаржу уже 5 раз"<br />

    Страницы должны иметь ссылку друг на друга.<br />

    Бонусные пойнты:<br />
    - Авторизация через соцсети<br />
    - Использовать фронтэнд фреймворки, например Bootstrap, jQuery<br />

    Для реализации использовать http://www.asp.net/mvc Для доступа к базе данных можно использовать любое удобное средство, в том числе Entity framework, а так же любую удобную базу данных<br />

    Исходный код должен быть размещен в публичном репозитории на на сайте https://github.com/ <br />

    Важно:<br />
    - Убедитесь что пакеты нугета корректно восстаналиваются. Для самопроверки клонируйте репозиторий в пустую папку и попробуйте запустить<br />
    - При использовании Entity framework настоятельно рекомендуется использовать LocalDB, а не SQL Server<br />
</p>
