@{
    ViewBag.Title = "I LOVE ASPARAGUS! :D";
}

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.Label("Your name:") <br />
        <input type="text" name="Name" /> <br />
        @Html.Label("Your email:") <br />
        <input type="text" name="Email" /> <br />
        <input type="submit" value="Я съел спаржу!" />
    }
    <br />
    @Html.ActionLink("List Of lovers asparagus", "ListOfUsers")
</div>